
    
#page {
    max-width: 901px;
    margin: 0px auto 0px auto;
}

main nav {
    margin-top:40px;
    height: 45px;
}

nav img {
    float: left;
    margin-right:5px;
}

nav p {
    max-width: 200px;
    font-size: 8px;
    float: left;
}

#delicious {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Yellowtail', cursive;
}

main nav li {
    display: inline-block;
}

main main div p {
    font-size: 12px;
    float: left;
}

#pizza {
    font-size: 36px;
}

main section img {
    position: absolute;
    z-index: -1;
}

main section ul {
    font-family: 'Patrick Hand', cursive;
    font-size: 24px;
    list-style-type: square;
    margin: 35px 0px 50px 80px;
    float: left;
    width: 330px;
}

main section ul li {
    line-height: 31px;
}

section {
    margin-top: 40px;
    height: 300px;
}

#line {
    text-decoration: line-through;
}

#hash {
    font-size: 18px;
    margin: 25px 0px 30px 0px;
}

#tags {
    font-size: 18px;
    margin: 40px 0px 20px 0px;
}

#text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}


#choco {
    margin: 30px 0px 30px 0px;
}
button {
    float: right;
}

#foot {
    text-align: center;
}